.received_result{
  background: $red-bg;
  @extend .init-page;
  .received_wrap{
    margin: 12px 12px 0 12px;
    border-radius: 4px;
    .reeceived_cont{
      background: #FFFFFF;
      border-radius: 4px;
      .use_state{
        width: 100%;
        height: 108px;
        text-align: center;
        span{display: block}
        span:nth-child(1){
          color: #B5B5B6;
          font-size: 15px;
          padding-top: 35px;
        }
        span:nth-child(2){
          color: $pink-font;
          font-size: 20px;
          margin-top: 5px;
        }
      }
      .gift_code{
        width: 100%;
        height: 320px;
        text-align: center;
        border-bottom: 1px solid #EFEFEF;
        span{display: block}
        span:nth-child(1){
          width: 202px;
          height: 202px;
          margin: 0 auto;
          img{width: 100%;}
        }
        span:nth-child(2){
          font-size: 14px;
          color: #6A6665;
          margin-bottom: 27px;
        }
        span:nth-child(3),
        span:nth-child(4){
          color: #B5B5B6;
        }
      }
      .rec_info{
        background: #F7F7F7;
        ul{
          padding: 0;
          margin: 0;
          li{
            height: 65px;
            border-bottom: 1px solid #EFEFEF;
            .rec-l{
              width: 80%;
              span{display: block}
              span:nth-child(1){
                color: #B5B5B6;
                padding-left: 25px;
                margin-top: 15px;
                font-size: 14px;
              }
              span:nth-child(2){
                color: #231815;
                padding-left: 25px;
                margin-top: 5px;
                font-size: 14px;
              }
            }
            .rec-r{
              width: 20%;
              .merchant{
                width: 50%;
                border-radius: 50%;
                margin-top: 16px;
              }
              .poi-icon{
                width: 15px;
                height: 20px;
                margin-top: 23px;
                margin-left: 15px;
              }
              .icon-r{
                width: 10px;
                vertical-align: top;
                margin-top: 26px;
                padding-right: 15px;
              }
            }
          }
          li:last-child{border: none;}
        }
      }
      .received_wb{
        .wb_title{
          background: #f7f8f8;
          border-radius: 4px 4px 0 0;
          display: block;
          height: 95px;
          width: 100%;
          span{
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            float: left;
            &:first-child{
              justify-content: flex-end;
              -webkit-justify-content: flex-end;
              height: 95px;
              width: 55px;
              img{
                width: 37px;
                height: 37px;
              }
            }
            &:nth-child(2){
              @include font-hidden(2);
              color: #231815;
              height: 34px;
              margin-top: 31px;
              margin-left: 15px;
              width: calc(100% - 130px);
              
            }
            &:last-child{
              justify-content: center;
              -webkit-justify-content: center;
              width: 60px;
              height: 95px;
              img{
                height: 11px;
                width: 7px;
              }
            }
          }
        }
        .wb_note{
          span{
            color: #898989;
            display: block;
            font-size: 14px;
            text-align: center;
            &:first-child{
              color: $pink-font;
              font-size: 18px;
              padding-top: 35px;
              padding-bottom: 20px;
            }
            &:last-child{
              padding-bottom: 15px;
            }
          }
        }
        .wb_img{
          background: #f7f8f8;
          border-radius:0 0 4px 4px;
          padding: 20px 0;
          .img{
            border: 1px solid #231815;
            border-radius: 4px;
            margin: 0 auto;
            img{
              object-fit: cover;
              width: 100%;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}


// merchantInfo 
.merchant-info{
  @extend .init-page;
  background: #FFFFFF;
  .merchant-pubno{
    background: #FFFFFF;
    .pubno{
      font-size: 15px;
      height: 70px;
      border-bottom: 1px solid rgba(204,204,204,.5);
      background: #FFFFFF;
      span{display: inline-block;}
      span:nth-child(1){
        width: 70px;
        height: 50px;
        padding: 10px 10px 10px 15px;
        line-height: 50px;
        img{width: 50px;height: 50px;}
      }
      span:nth-child(2){
        vertical-align: top;
        line-height: 70px;
      }
    }
    .pubno:first-child{border-radius: 4px 4px 0 0;}
    .pubno:last-child{border-radius: 0 0 4px 4px;}
  }
} 