.voice-box{
//padding-top: 80px;
//padding-bottom: 60px;
  .voice-process{
    margin-bottom: 40px;
    img{
      height: 20px;
      margin-bottom: 6px;
    }
    .progress{
      width: 100%;
      height: 42px;
      -webkit-background-size: 3px 3px;
      -moz-background-size: 3px 3px;
      background-size: 3px 3px;
      background-color: #FFFFFF;
      background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #DCDDDD), color-stop(.5, transparent), to(transparent));
      background-image: -moz-linear-gradient(90deg, #DCDDDD 50%, transparent 50%, transparent);
      background-image: -o-linear-gradient(90deg, #DCDDDD 50%, transparent 50%, transparent);
      background-image: linear-gradient(90deg, #DCDDDD 50%, transparent 50%, transparent);
      .progress-active{
        height: 42px;
        -webkit-background-size: 3px 3px;
        -moz-background-size: 3px 3px;
        background-size: 3px 3px;
        background-color: #FFFFFF;
        background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #f05b47), color-stop(.6, transparent), to(transparent));
        background-image: -moz-linear-gradient(90deg, #f05b47 60%, transparent 60%, transparent);
        background-image: -o-linear-gradient(90deg, #f05b47 60%, transparent 60%, transparent);
        background-image: linear-gradient(90deg, #f05b47 60%, transparent 60%, transparent);
      }
    }
    .progress-time{
      display: block;
      color: #FFFFFF;
      font-size: 30px;
      font-weight: normal;
      text-align: center;
    }
  }
  .hint{
    display: block;
    font-size: 12px;
    color: #f8b3aa;
    margin-top: 20px;
  }
  .record-before{
    text-align: center;
    img{
      display: block;
      width: 75px;
      margin: 0 auto;
    }
  }
  .record-after{
    width: 210px;
    margin: 0 auto;
    img{width: 100%;}
    .btn_play,
    .btn_reset{
      width: 70px;
      height: 70px;
      display: inline-block;
      text-align: center;
    }
    .btn_play{
      margin-right: 65px;
    }
  }
}